@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello, PWA!</h1>
    <p class="lead mt-2">Esse é um exemplo de um Web PWA app com ASP.NET Core e razor pages 😉</p>
</div>
