@page
@model WeatherListModel

@{
    ViewData["Title"] = "List Page";
}

<h1>@ViewData["Title"]</h1>

<p>Weather List</p>


<div class="lists" ></div>

<script src="js/site.js" asp-append-version="true"></script>
<script type="text/javascript">
    getWeather();
</script>